<mat-card>
        <mat-card-content>
            <div>
                <h1>Register</h1>
                <p>For a CURE account</p>
            </div>
                <form (submit)="onRegisterSubmit()">
                    <mat-form-field>
                        <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Last Name"[(ngModel)]="lastName" name="lastNight">
                    </mat-form-field>

                    <mat-form-field>
                            <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
                        </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="Confirm Password" type="password2" [(ngModel)]="password2" name="password2">
                        </mat-form-field>
                    <br>
                </form>
            
    
            
        </mat-card-content>
        <mat-card-actions>
    
            <button mat-raised-button color="primary" style="width: 90%" (click)="onRegisterSubmit()">Create</button>
            <br>
            <button mat-button style="width: 90%">I already have an account</button>
        </mat-card-actions>
    </mat-card>