<mat-tab-group>
    <mat-tab label="Unit Engagement">
            <mat-card style="margin-top:2%; margin-bottom: 10%">
                    <h3>New Activity</h3>
                    <mat-card-content>
                            <form (submit)="onSubmit('Unit Engagement')">
                                <mat-form-field>
                                    <mat-select (click)="activityClick('Unit Engagement')" [(ngModel)]="activitySelect" name="activitySelect">
                                        <mat-option>--</mat-option>
                                        <mat-option (click)="activityOptionClick('Unit Engagement')" *ngFor="let activity of activities" [value]="activity">{{activity}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="vHours">
                                        <input matInput placeholder="Hours"  [(ngModel)]="hours" name="hours">
                                </mat-form-field>
                                <br>
                                <mat-form-field *ngIf="vHours">
                                    <input matInput placeholder="Members"  [(ngModel)]="members" name="members">
                                </mat-form-field>
                                <br>
                                <mat-form-field *ngIf="vDescription">
                                    <textarea matInput placeholder="Description"  [(ngModel)]="description" name="description"></textarea>
                                </mat-form-field>
                                <br>
                            </form>
                    </mat-card-content>
                    <mat-card-actions>
                
                        <button mat-raised-button color="primary" style="width: 90%" (click)="onSubmit('Unit Engagement')">Add</button>
                        <br>
                        <button mat-button style="width: 90%" (click)="onClear()">clear</button>
                    </mat-card-actions>
                </mat-card>
    </mat-tab>
    <mat-tab label="Individual Coaching & Counseling">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus ullam nihil quasi excepturi! Atque porro necessitatibus velit molestiae deserunt officiis ducimus molestias quisquam qui. Perferendis sit quam cupiditate distinctio.</p>
    </mat-tab>
    <mat-tab label="Leader Consultation">
            <mat-card style="margin-top:2%; margin-bottom: 10%">
                    <h3>New Activity</h3>
                    <mat-card-content>
                            <form (submit)="onSubmit('Leader Consultation')">
                                <mat-form-field>
                                    <mat-select (click)="activityClick('Leader Consultation')" [(ngModel)]="activitySelect" name="activitySelect">
                                        <mat-option>--</mat-option>
                                        <mat-option (click)="activityOptionClick('Leader Consultation')" *ngFor="let activity of activities" [value]="activity">{{activity}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="vHours">
                                        <input matInput placeholder="Hours"  [(ngModel)]="hours" name="hours">
                                </mat-form-field>
                                <br>
                                <mat-form-field *ngIf="vHours">
                                    <input matInput placeholder="Members"  [(ngModel)]="members" name="members">
                                </mat-form-field>
                                <br>
                                <mat-form-field *ngIf="vDescription">
                                    <textarea matInput placeholder="Description"  [(ngModel)]="description" name="description"></textarea>
                                </mat-form-field>
                                <br>
                            </form>
                    </mat-card-content>
                    <mat-card-actions>
                
                        <button mat-raised-button color="primary" style="width: 90%" (click)="onSubmit('Leader Consultation')">Add</button>
                        <br>
                        <button mat-button style="width: 90%" (click)="onClear()">clear</button>
                    </mat-card-actions>
                </mat-card>
    </mat-tab>
    <mat-tab label="Training">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus ullam nihil quasi excepturi! Atque porro necessitatibus velit molestiae deserunt officiis ducimus molestias quisquam qui. Perferendis sit quam cupiditate distinctio.</p>
    </mat-tab>
    <mat-tab label="Treatment">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus ullam nihil quasi excepturi! Atque porro necessitatibus velit molestiae deserunt officiis ducimus molestias quisquam qui. Perferendis sit quam cupiditate distinctio.</p>
    </mat-tab>
</mat-tab-group>
