<div class="col-6 offset-3">
    <div class="card">
        <h3 class="card-header">New Entry</h3>
            <div class="card-body">
                <form (submit)="onSubmit()">
                    <div class="form-group">
                        <label>Activity</label>
                        <select class="custom-select">
                            <option *ngFor="let activity of activities" [value]="activity">{{activity}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Number of Hours</label>
                        <input type="text" class="form-control" [(ngModel)]="hours" name="hours">
                    </div>
                    <div class="form-group">
                        <label>Members Engaged</label>
                        <input type="text" class="form-control" [(ngModel)]="members" name="members">
                    </div>
                    <input type="submit" class="btn btn-primary" value="submit">
                </form>   
            </div>
    </div>
</div>

<div class="col-6 offset-3">
    <div class="card">
        <h3 class="card-header">New Activity</h3>
        <div class="card-body">
            <mat-tab-group>
                <mat-tab label="One">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus ullam nihil quasi excepturi! Atque porro necessitatibus velit molestiae deserunt officiis ducimus molestias quisquam qui. Perferendis sit quam cupiditate distinctio.</p>
                </mat-tab>
                <mat-tab label="One">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus ullam nihil quasi excepturi! Atque porro necessitatibus velit molestiae deserunt officiis ducimus molestias quisquam qui. Perferendis sit quam cupiditate distinctio.</p>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>