<mat-tab-group>
    <mat-tab label="Unit Engagement">
        <app-unit-engagement></app-unit-engagement>
    </mat-tab>
    <mat-tab label="Individual Coaching & Counseling">
        <app-individual-coaching></app-individual-coaching>
    </mat-tab>
    <mat-tab label="Leader Consultation">
        <app-leader-consultation></app-leader-consultation>
    </mat-tab>
    <mat-tab label="Training">
        <app-training></app-training>
    </mat-tab>
    <mat-tab label="Treatment">
        <app-treatment></app-treatment>
    </mat-tab>
</mat-tab-group>
